Repository agentscope-ai/agentscope, pull requests merged in 2025-08, with the labels that each got.

#677 Add `base_http_api_url` in DashScopeChatModel's constructor
  src/agentscope/model/_dashscope_model.py
Labels: Enhancement, Ready for Review

#676 Meta Planner
  examples/meta_planner_agent/README.md
  examples/meta_planner_agent/_built_in_long_sys_prompt/_tool_usage_rules.md
  examples/meta_planner_agent/_built_in_long_sys_prompt/_worker_additional_sys_prompt.md
  examples/meta_planner_agent/_built_in_long_sys_prompt/meta_planner_sys_prompt.md
  examples/meta_planner_agent/_meta_planner.py
  examples/meta_planner_agent/_planning_tools/__init__.py
  examples/meta_planner_agent/_planning_tools/_planning_notebook.py
  examples/meta_planner_agent/_planning_tools/_roadmap_manager.py
  examples/meta_planner_agent/_planning_tools/_worker_manager.py
  examples/meta_planner_agent/main.py
Labels: Ready for Review, Example

#681 Implement werewolf
  examples/game/werewolf/README.md
  examples/game/werewolf/main.py
  examples/game/werewolf/prompt.py
  examples/game/werewolf/structured_output.py
  examples/game/werewolf/utils.py
  src/agentscope/agent/_agent_base.py
  src/agentscope/model/_dashscope_model.py
  src/agentscope/pipeline/__init__.py
  src/agentscope/pipeline/_class.py
  src/agentscope/pipeline/_functional.py
  src/agentscope/pipeline/_msghub.py
  tests/pipeline_test.py
Labels: Ready for Review, Example

#699 [HOTFIX] Fix typo in README.md and README_zh.md
  README.md
  README_zh.md
Labels: Documentation, Ready for Review
